<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <script src="../model/admin.js" type= "text/javascript" defer></script>

    <title>Admin site</title>
</head>
<body>
    
<h1>Admin page</h1>

<div class='stats'></div>



<br>

<div>
  <h4>Find user - edit or delete</h4>
    <input type="text" placeholder="Søg bruger..."> <button>Search</button>
</div>


</body>
</html>

<!--

    admin skal have en side hvor han/hun bliver omdirigeret til 
    1. en side med en liste over appens statistikker 
        denne side kunne også være en drop down liste, som bliver synlig ved at trykke på et ikon
        dermed er det nemmere 
    2. fra den liste skal det være mulig at trykke på en bruger og enten opdatere eller slette 

-->

