<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <script src="../model/admin.js" type= "text/javascript" defer></script>
    <script src="../test/test.js" type= "text/javascript" defer></script>

    <title>Admin site</title>
</head>
<body>
    
<h1>Admin page</h1>

<div class='stats'>
  <button type="submit" name="stats" onclick="adm_statistics()">Get statistics</button>
</div>

<br>

<div>
  <h4>Find user by e-mail - edit</h4>

  <div class='adm_get_user_div'>
    <input id='get_email' type="text" placeholder="Find user...">
    <button type="submit" name="adm_get_user" onclick="adm_get_user()">Search</button>
  </div>

</div>
<div>
  <h4>Find user by e-mail and delete</h4>

  <div class='adm_delete_user_div'>
    <input id="email" type="text" placeholder="Find user to delete" required>
    <input id="adm_delete_btn" type="submit" onclick="adm_delete_user()" value="Delete user" > 
  </div>

</div>

<br><br>
<input id="logout_btn" type="submit" onclick = "adm_logout()" value="Logout" alert> 

</body>
</html>


