<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <script src="../model/admin.js" type= "text/javascript" defer></script>

    <title>Admin site</title>
</head>
<body>
    
<h1>Admin page</h1>

<div class='stats'>
  <button type="submit" name="stats" onclick="adm_statistics()">Get statistics</button>
</div>

<br>

<div>
  <h4>Find user by e-mail and delete</h4>

  <div class='adm_delete_user_div'>
    <input id="email" type="text" placeholder="Find user to delete" required>
    <input id="adm_delete_btn" type="submit" onclick="adm_delete_user()" value="Delete user" > 
  </div>

</div>

  <div>
    <h4>Update user - by email</h4>
        <form id="adm_update_form" method="POST">
            <!--Brugeren skal skrive sin mail-->
            <label for="email">E-mail:</label>
            <input id="email" type="email" required>  
        <!--ved at give inputtet typen email kan browseren arbejde med, at den ved at formattet et e-mail-->
        <br><br>
    <!--Brugeren skal skrive sit fulde navn-->
            <label for="fullname">Full name:</label>
            <input id="fullname" type="text" required> 
            <!--type = text, i feltet kan man skrive tekst-->
        <br><br>                        
            <!--Indtastning af fødseldag-->
            <label for="age">Age:</label>
            <input id="age" type="text" required>
        <br><br>
            <!-- Her vælger han/hun hvilken region som potentielle matches skal komme fra-->
            <label for="region">Region:</label>
            <input id="region" type="text" required>
        <br><br>
            <label for="gender">Your gender:</label>
            <input id="gender" type="text" placeholder = "Male, female, other" required>
        <br><br>
            <!--Her kan brugeren skrive noget om sig selv-->
            <label for="bio">Biography:</label>
            <textarea id="bio" type="text" required></textarea>
    <br><br>
             <button type="submit" name="Submit" onclick="update_user()">Update user settings</button>
    </form>
    </div>  
 

<br><br>
<input id="logout_btn" type="submit" onclick = "adm_logout()" value="Logout" alert> 

</body>
</html>


