<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/view/index.css" type="text/css"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Your matches</title>
    </head>
<body>
    
    <form id="matches">
        <div id = allMatches>
            <h3>All your matches:</h3>
            <ul>
                <li> navn 1 <input id="chatbtn" type="submit" onsubmit="chat()" value="Chat"> <input id="removeMatchbtn" type="submit" onsubmit="deleteMatch()" value="Delete match"> </li> 
                <li> navn 2 <input id="chatbtn" type="submit" onsubmit="chat()" value="Chat"> <input id="removeMatchbtn" type="submit" onsubmit="deleteMatch()" value="Delete match"> </li>
                <li> navn 3 <input id="chatbtn" type="submit" onsubmit="chat()" value="Chat"> <input id="removeMatchbtn" type="submit" onsubmit="deleteMatch()" value="Delete match"> </li>
            </ul>
            <table id="matches"></table>
            
        </div>
        <br><br>

<!--en knap som bringer brugeren tilbage til profilsiden-->
<button id="backprofile" onclick="location.href='profile.html'" type="button">Get back to profile page</button>

      </form>
 </div>

</body>
</html>