<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/view/index.css" type="text/css"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../model/match.js"></script> 
        <title>Your matches</title>
    </head>
<body>
    <div id = all_matches>
    <form id="delete_match">
        <div id = delete_match>
            <h3>All your matches:</h3>

            <div class='match_list'></div>  <!-- i denne div indsættes matchlisten fra db igennem show_matches funk--> 

                <label for="match_name">Please enter the ID of the match you wish to delete</label>
                <input id="match_name" type="VarChar" required> 
                <br><br>
                <input id="delete_match_btn" type="submit" onsubmit="delete_match()" value="Delete match"> </input> 
        </div>
        <br><br>

<!--en knap som bringer brugeren tilbage til profilsiden-->
<button id="backprofile" onclick="location.href='profile.html'" type="button">Get back to profile page</button>

      </form>
 </div>

</body>
</html>