 <!DOCTYPE html>
    <html>
        <head>
            <title>Welcome to your profile</title>
            <link rel="stylesheet" href="/view/index.css" type="text/css"> 
            <meta charset="utf-8">
            <script src="./controller/profile.js" defer></script>
            <script src="./model/routes.js"></script>

        </head>
        <body>
            <div>
                <img class="logo" src="logo.jpeg">
            </div>
            <h3>Welcome</h3>
            <form id="user" class="user">
                <input id="logoutbtn" type="submit" value="Logout"> 
                <input id="deleteBtn" type="submit" onsubmit="deleteUser()" value="Delete user"> 
            </form>
            <div class = "user_div">
                <label for="preferred_gender">Preffered gender for match:</label>
                <input id="preffered_gender" type="text" required>
            <br><br>
                <!--Her kan brugeren vælge hvilken min alder han/hun/den gerne vil se inde på appen-->
                <label for="age_min">Minimum match age:</label>
                <input id="age_min" type="text" required>
            <br><br>
                <label for="age_max">Maximum match age:</label>
                <input id="age_max" type="text" required>
            </div>

            <br><br>
            <div class = "user_div">

                <label for="img">Choose images for profile:</label>
                <form id="fileform">
                    <input type="file" value="file" id="file" name="file" onchange="uploadFile()">
                </form>
            <br>
        
            </div>
            <br><br>
           

    
        <div>
            <h3>Find your next match</h3>
          <form class="form" id="getMatches">
            <button id="getMatchesbtn" onclick="location.href='matches.html'" type="button">Get matched</button>

          </form>
          
        </div>
        </body>

</html>

