 <!DOCTYPE html>
    <html>
        <head>
            <title>Welcome to your profile</title>
            <link rel="stylesheet" href="/view/index.css" type="text/css"> 
            <meta charset="utf-8">
            <script src="../model/user.js"></script>   
        </head>
        <body>
            <div>
                <img class="logo" src="logo.jpeg">
            </div>
            <h3>Welcome</h3>
            <form id="user" class="user">
                <input id="logout_btn" type="submit" onclick = "logout()" value="Logout"> 
                <label for="email">Your admin email:</label>
                <input id="email" type="text" required>
                <input id="delete_btn" type="submit" onclick="delete_user()" value="Delete user"> 
                <form>
                    <button id="updateUser" onclick="location.href='update.html'" type="button">Update your profile</button>
            </form>
                <br><br>
            <div class = "userInfo_div">
                <label for="userInfo">View profile information</label>
                <br>
                <form id="viewProfileForm">
                    <input id="viewProfile" type="submit" onsubmit="view_profile()" value="Click to view your profile information"> 
                </form>
                <br>
                <form class="form" id="viewMatches">
                    <button id="viewMatchesbtn" onclick="location.href='matches.html'" type="button">View matches</button>
                </form>
            </div>
            <div class = "img_div">
                <label for="img">Choose images for profile:</label>
                <br><br>
                <form id="fileform">
                    <input type="file" value="file" id="file" name="file" onchange="uploadFile()">
                </form>
                <br>
                <form id="saveFile">
                    <input id="saveFile" type="submit" onsubmit="save_picture()" value="Save picture to profile"> 
                </form>
                </div>
            <br>
            <!-- i denne div kan brugeren ændre/opdatere/tilføje sine kriterier han/hun/den har til sine matches-->
            <div class = "matchcriteria_div">
                <label for="preferred_gender">Preferred gender for match:</label>
                <input id="preferred_gender" type="text" required>
            <br><br>
                <!--Her kan brugeren vælge hvilken min alder han/hun/den gerne vil se inde på appen-->
                <label for="age_min">Minimum match age:</label>
                <input id="age_min" type="text" required>
            <br><br>
                <label for="age_max">Maximum match age:</label>
                <input id="age_max" type="text" required>
                <br>
                <input id="set_match_criteria" type="submit" onsubmit="update_match_criteria()" value="Update match criterias"> 
                    <h3>Find your next match</h3>
                  <form class="form" id="startMatching">
                    <button id="startMatchingbtn" onclick="" type="button">Start matching here!</button>
                  </form>
            </div>

            <br><br>
        
            <br><br>
        </body>

</html>

