<!DOCTYPE html>
    <html>
        <head>
            <title>Update your profile</title>
            <meta charset="utf-8">
            <link rel="stylesheet" href="/view/index.css" type="text/css"> 
            <script src="../model/user.js" type="text/javascript" defer></script>

        </head>
        <body>


            <div  class = "user_div">
        
            <!--I DENNE DEL AF KODEN KAN BRUGEREN OPDATERE SINE EGNE OPLYSNINGER OG INFORMATIONER-->

                <h2>Update your profile</h2>
                <form id="update_form" method="POST">
                    <!--Brugeren skal skrive sin mail-->
                    <label for="email">E-mail:</label>
                    <input id="email" type="email" required>  
                <!--ved at give inputtet typen email kan browseren arbejde med, at den ved at formattet et e-mail-->
                
                
                <br><br>
            <!--Lav et password-->
                    <label for="password">Password:</label>
                    <input id="password" type="password" required> 
                    <!--når type sættes til password ved browseren, at den skal skjule det man indtaster-->
                
                <br><br>
            <!--Brugeren skal skrive sit fulde navn-->
                    <label for="fullname">Full name:</label>
                    <input id="fullname" type="text" required> 
                    <!--type = text, i feltet kan man skrive tekst-->
                
                <br><br>                        
                    <!--Indtastning af fødseldag-->
                    <label for="age">Age:</label>
                    <input id="age" type="text" required>
                <br><br>
                    <!-- Her vælger han/hun hvilken region som potentielle matches skal komme fra-->
                    <label for="region">Region:</label>
                    <input id="region" type="text" required>
                        <ul>
                            <li>Hovedstaden</li>
                            <li>Sjælland</li>
                            <li>Syddanmark</li>
                            <li>Nordjylland</li>
                            <li>Midtjylland</li>
                        </ul>
                <br><br>
                    <label for="gender">Your gender:</label>
                    <input id="gender" type="text" placeholder = "Male, female, other" required>
                <br><br>
                    <!--Her kan brugeren skrive noget om sig selv-->
                    <label for="bio">Biography:</label>
                    <textarea id="bio" type="text" placeholder="Write something about yourself" required></textarea>
            <br><br>
                     <button type="submit" name="Submit" onclick="update_user_settings()">Update user settings</button>
                     <br>
            </form>
            </div>  
        <br><br>
        </body>
</html>